body{
    max-width:100%;
    overflow-x:hidden;

}
.bg{
    background-color:#5aaebf;
    opacity:95%;
    
}
.btn{
    color:#fff;
    background-color:#57c6fa;
    border-color:white;
    border-radius:9px;
    border-color:white;

}
.btn:hover{
    background-color:white;
    color:#57c6fa;
    transition: 0.7s;
    border-color:white
}
.img{
    width:400px;
    height:500px ;
}
.card-img-top{
    width:85px;
    margin-left: 75px;
}
.text1{
    font-size:40px;
    color:black;
    text-shadow: 0px 4px #4696a6;
}
.text2{
    font-size:40px;
    color:black;
    text-shadow: 0px 4px #4696a6;
}
.btn1{
    color:#fff;
    background-color:#27a4ca;
    border-radius:10px;
    border:0px;

}
.btn1:hover{
    background-color:#13d188;
    color:white;
    transition: 0.7s;
    border-color:white;
}
#face{
    width:20px;
    padding-top:10px ;
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@600&display=swap");

.like_btn{
    margin-left: 10%;
    width: 100px;
    height: 80px;
    font-size: 20px;
    border: none;
    cursor: pointer;
    border-radius: 10px;
    color: #47adf1;
    background-color: #b1ffe1;
    box-shadow: 2px 2px black;
    outline: none !important;
}
.like_btn:hover{
    transition:0.7s;
    background-color:rgb(159, 234, 253);
}